{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
{% if category %}
    {{ category.description|truncatewords:155 }}
{% else %}
    Welcome to SPECTRA store !!. you can buy different items..
{% endif %}
{% endblock %}
{% block title %}
     {% if category %}
         {{ category.name }} - SPECTRA store
     {% else %}
          see our new collections -SPECTRA store
{% endif %}
{% endblock %}


{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto">
        <p><a href="{% url 'shopapp:allProdCat' %}" >OUR PRODUCT COLLECTION</a></p>
    </div>
        </div>
</div>
{% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" height="1200" width="100%" alt="{{category.name}}">
</div>
   <br>
<div>
        <h1 class="text-center my_title" >{{category.name}}</h1>
        <P class="text-justify">{{category.description}}</P>
</div>
     {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/banner2.png' %}" height="500px" width="100%" alt="our products">
</div>
<br>
<div>
    <h1 class="text-center my_title">OUR PRODUCT COLLECTION</h1>
    <p class="text-justify">Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser or a mobile app. Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine, which displays the same product's availability and pricing at different e-retailers. As of 2022, customers can shop online using a range of different computers and devices, including desktop computers, laptops, tablet computers and smartphones. </p>
</div>
{% endif %}

<div class="container">
    <div class="row mx_auto">
{% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" height="200px" width="200px" alt="{{product.name}}"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>

        </div>
{% endfor %}
    </div>

  <div class="mx-auto">
    {% if products.paginator.num_pages > 1 %}

   <hr>
    <div class="text-center">
      {% for pg in products.paginator.page_range %}
        <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
      {% endfor %}
    </div>
      {% endif %}
  </div>
    <br>
</div>
{% endblock %}
